.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  padding-bottom: 10px;
}

.middle-column {
  width: 28%;
  height: 85vh;
  margin: auto;
  padding-top: 8%;
  background-color: #CFD7DC;
}
