.row {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  padding-bottom: 10px;
}

.middle-column2 {
  width: 28%;
  height: 100vh;
  margin: auto;
  padding-top: 8%;
  background-color: #cfd7dc;
}

button:disabled {
  cursor: not-allowed;
}
